In [9]:
s1='Nishant'
s2='Mishra'
s3=s1+s2
print(s3)

NishantMishra

In [3]:
s3='apple'
print(s3*3)

appleappleapple

In [5]:
[1,2,3,4,5,'abc']*3

[1, 2, 3, 4, 5, 'abc', 1, 2, 3, 4, 5, 'abc', 1, 2, 3, 4, 5, 'abc']

In [10]:
s3.upper()

'NISHANTMISHRA'

In [11]:
s3.lower()

'nishantmishra'

In [12]:
s3.split()

['NishantMishra']

In [14]:
s4 = 'my name is abc def ghi'
type(s4.split())

list

In [18]:
s5= 'nishantAntmishrAxyz'
s5.split('A')
s5.partition('A')

('nishant', 'A', 'ntmishrAxyz')

s5.partition()

In [20]:
type(s5.partition('A'))

tuple

In [21]:
s6='qwertyuiopfdghdeeasdaaaa'
s6.find('a')

17

In [24]:
s6.find('z')

-1

In [29]:
s7='*******'
s7.center(50,'a')

'aaaaaaaaaaaaaaaaaaaaa*******aaaaaaaaaaaaaaaaaaaaaa'

In [31]:
s8='nishant\tmishra\thargaon\up'
s8.expandtabs()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 24-25: truncated \uXXXX escape (<ipython-input-31-f85956f38b45>, line 1)

In [34]:
s9=input("enter your name")
'my name is {}'.format(s9)

enter your namefxrgery

'my name is fxrgery'

In [35]:
s10='hello'
s10.isalnum()

True

In [36]:
s10.isalpha()

True

In [38]:
s10.isascii()

True

In [39]:
s10.islower()

True

In [40]:
s11='ASDCFGVBHNJMKL'
s11.upper()

'ASDCFGVBHNJMKL'

In [41]:
s11.isupper()

True

In [42]:
s12='Orange'
s11.istitle()

False

In [43]:
len(s11)

14

In [44]:
len(s10)

5

In [45]:
l1=[1,2,3,4,5,67,'abc','deg',[3,5,6]]
for i in l1:
    print(i)

1
2
3
4
5
67
abc
deg
[3, 5, 6]

In [46]:
l1=[1,2,3,4,5,67,'abc','deg',[3,5,6]]
l2=[]
for i in l1:
    l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 67, 'abc', 'deg', [3, 5, 6]]

In [60]:
l3=[1,2,4,'tyu',7,8,9,'opqwer',22,11]
l3.pop(3)
l3[::-1] 
l3.pop(-1)
l3.reverse()

In [61]:
l3

[22, 'opqwer', 9, 8, 7, 4, 2, 1]

In [63]:
l3[::-1]

[1, 2, 4, 7, 8, 9, 'opqwer', 22]

In [66]:
l4=[9,11,345,8,2,3,4,5,6,7,8]
l4.sort()
l4

[2, 3, 4, 5, 6, 7, 8, 8, 9, 11, 345]

In [67]:
l5=['shruti','anant','nishant','neeti','dhela','surais']
l5.sort()
l5

['anant', 'dhela', 'neeti', 'nishant', 'shruti', 'surais']

In [70]:
n=5
for i in n:
    print('*'*i)
    i=i+1

TypeError: 'int' object is not iterable

In [8]:
fname=input("Enter the first name:")
sname=input("Enter the second name:")
gname=fname+sname
if gname[0]=s
    
    print("You are chutku and very dusht", gname.upper())

SyntaxError: invalid syntax (<ipython-input-8-de9e17bc9748>, line 4)

In [16]:
list = [1,2,3,4,'qwerty','qbc',898,55]
type(list)
list.append(99)
list.append(1234)
list.append('adsvf')
list.append('qbc')
print(list)

[1, 2, 3, 4, 'qwerty', 'qbc', 898, 55, 99, 1234, 'adsvf', 'qbc']

In [57]:
tup=(1,2,3,4,5,5,6,7,7,6,'abc','def')
len(tup)
tup[0:6]
type(tup)
tup.count(5)
len(tup)

12

In [46]:
tup
for i in tup:
    print(tup)

In [60]:
for i in range(len(tup)):
    print(tup[i],"\t")

1
2
3
4
5
5
6
7
7
6
abc
def

In [78]:
s= {1,1,1,2,2,4,4,8,8,9,9,2,'abc','ABC'}
s.add(7)
s.add(9)
s.discard(1)
s

{2, 4, 7, 8, 9, 'ABC', 'abc'}

In [74]:
for i in s:
    print(i)

1
2
4
8
9
abc
ABC

In [79]:
d = {100:'Hundred', 200:'twohundred', 300:'threehundred', 210:'abcde'}

In [80]:
d

{100: 'Hundred', 200: 'twohundred', 300: 'threehundred', 210: 'abcde'}

In [81]:
r={ }
r[10]='abc'
r[20]='def'
r[30]='ghi'
r

{10: 'abc', 20: 'def', 30: 'ghi'}

In [82]:
r.keys()

dict_keys([10, 20, 30])

In [83]:
r.values()

dict_values(['abc', 'def', 'ghi'])

In [88]:
r.pop(10)

'abc'

In [93]:
r=range(2)
type(r)
r

range(0, 2)

In [95]:
#each x in range r 
for x in r:
    print(x)

0
1

In [100]:
r = range(11)
for x in r:
    print (x)

0
1
2
3
4
5
6
7
8
9
10

In [106]:
r3 = range(1,21,3)
for x in r3:
    print(x)

1
4
7
10
13
16
19